header {
  text-align: center;
  color: hsl(229, 6%, 66%);
  .p-1 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 60px;
    padding: 5px;
  }
  h1 {
    font-weight: 600;
    padding: 0 5px 5px;
    color: hsl(234, 12%, 34%);
  }
  .p-3 {
    padding: 5px;
    width: 500px;
    @media (max-width: 375px) {
      width: 260px;
    }
  }
}

header, h1 {
  @media (max-width: 375px) {
    font-size: 0.8em;
    padding: 0;
  }
}

