header {
  text-align: center;
  color: hsl(229deg, 6%, 66%);
}
header .p-1 {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 60px;
  padding: 5px;
}
header h1 {
  font-weight: 600;
  color: hsl(234deg, 12%, 34%);
  font-size: 0.8em;
}
header .p-3 {
  width: 260px;
}
@media (min-width: 768px) {
  header .p-3 {
    width: 800px;
    font-size: 0.8em;
  }
}

@media (min-width: 768px) {
  header,
h1 {
    font-size: 2em;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: hsl(229deg, 6%, 66%);
}
section h3 {
  color: hsl(234deg, 12%, 34%);
}
section .col-1 {
  background-color: hsl(0deg, 0%, 98%);
  padding: 25px;
  margin: 20px;
  width: 343px;
  height: 225px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}
section .col-1::before {
  content: "";
  width: 337px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 3px;
  display: block;
  background-color: hsl(180deg, 62%, 55%);
  border-radius: 500px 500px 0 0;
}
section .col-1:hover {
  cursor: pointer;
}
section .col-1 img {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
section .red {
  background-color: hsl(0deg, 0%, 98%);
  padding: 25px;
  margin: 20px;
  width: 343px;
  height: 225px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}
section .red::before {
  content: "";
  width: 337px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 3px;
  display: block;
  background-color: hsl(0deg, 78%, 62%);
  border-radius: 500px 500px 0 0;
}
section .red:hover {
  cursor: pointer;
}
section .red img {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
section .orange {
  background-color: hsl(0deg, 0%, 98%);
  padding: 25px;
  margin: 20px;
  width: 343px;
  height: 225px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}
section .orange::before {
  content: "";
  width: 337px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 3px;
  display: block;
  background-color: hsl(34deg, 97%, 64%);
  border-radius: 500px 500px 0 0;
}
section .orange:hover {
  cursor: pointer;
}
section .orange img {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
section .col-3 {
  background-color: hsl(0deg, 0%, 98%);
  padding: 25px;
  margin: 20px;
  width: 343px;
  height: 225px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}
section .col-3::before {
  content: "";
  width: 337px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 3px;
  display: block;
  background-color: hsl(212deg, 86%, 64%);
  border-radius: 500px 500px 0 0;
}
section .col-3:hover {
  cursor: pointer;
}
section .col-3 img {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
@media (max-width: 375px) {
  section {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  section .row-2 {
    margin: 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1440px;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 375px) {
  footer {
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */